.body {
  margin-top: 6%;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 20%;
  margin-left: 30px;
}

.h1 {
  font-size: 60px;
  margin-top: 10px;
  display: block;
  width: 600px;
  margin: 0px 30px;
}
.paragraph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
