.body {
  margin-top: 6%;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 50px;
}
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Gap between buttons */
  margin-top: 20px;
}

.view a {
  text-decoration: none; /* Removes the underline */
}

.view button {
  cursor: pointer; /* Shows a hand cursor when hovering over the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600; /* Makes the font slightly bold */
  transition: background-color 0.3s, transform 0.1s; /* Smooth transition effect on hover */

  /* Background and text color */
  background-color: #007bff;
  color: #ffffff;

  /* Remove focus styles for cleaner design */
  outline: none;
  box-shadow: none;
}

/* Hover effect for the button */
.view button:hover {
  background-color: #0056b3; /* Darkens the background color a bit */
  transform: scale(1.05); /* Slightly enlarges the button */
}

/* If you wish, you can differentiate the code button from the web button */
.view a:nth-child(2) button {
  background-color: #333; /* Darker background for the code button */
}

.view a:nth-child(2) button:hover {
  background-color: #111; /* Even darker on hover for the code button */
}

.img {
  width: 190px;
  height: 130px;
  margin-left: 30px;
  cursor: pointer;
}

.h1 {
  margin-top: 10px;
  display: block;
  width: 600px;
  margin: 0px 30px;
}
.paragraph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.paragraph p {
  font-size: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pages {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.pages button {
  margin-bottom: 10px !important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.modalImage {
  max-width: 80vw;
  max-height: 80vh;
}

.modalCloseBtn {
  position: absolute;
  width: 10%;
  top: 10px;
  right: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}
